<template name="build1">
<body>
<div class="index-top">
  <div class="logo"><img style="margin-left:40px" src="image/logo.png"></div>
  <div class="btis"></div>
   <div id="menur">
    <ul>
     
      <li><a href="#"></a>
      
      </li>
      <li><a href="#"></a>
       
      </li>
      
        
      
    </ul>
  </div>
</div>
<div class="height80"></div>
<div class="height80"></div>

<div class="info-yz">
  <div class="login">
  <div class="success">
<em></em>
<p>该功能正在开发中，敬请期待！</p>

<button  class="ss_sub" >返 回</button>
</div>
  </div>
  <div class="clear"></div>
</div>
<div class="height80"></div>
</body>

</template>