<template name="contact2">
<body>
<div class="index-top">
  <div class="logo"><a href="/"> <img src="image/logo.png"></a></div>
  <div  id="menu">
    <ul>
      <li><a href="/">首页</a></li>
      <li class="aaa"><a href="http://certseth.com">项目介绍</a></li>
      <li><a href="/searchmany">证书查询</a></li>
      <li><a href="/download">支持与下载</a>
        <div class="down_nav"><span><a href='/download'>项目白皮书</a></span><span><a href='/download'>客户端下载</a></span></div>
      </li>
      <li><a >帮助中心</a>
        <div class="down_nav"><span><a href='/build'>帮助与支持</a></span><span><a href='/build'>联系客服</a></span></div>
      </li>
    </ul>
  </div>
  <div class="wap_nav" id="toggle"><img src="image/menu.png"></div>
 
  {{#if currentUser}}<div   style="margin-left:500px" id="menu">
<ul>
 <li class="aaa"> <a >欢迎您！{{user.username}}</a>
        <div class="down_nav"><span class="bbb"><a href='/edu'>用户页面</a></span><span><a class="logout">退出</a></span></div>
      </li></ul></div>
{{else}}
  <div class="lo_gin"><a href="/loginmail">登录</a>/<a href="/regmail">注册</a></div>
  {{/if}}
</div>
<div class="lx-ban"><em>链动证书</em><br><span>基于区块链的一套完整的面向教育行业的证书签发及查验系统</span></div>
<ul class="inf_class">
<li><a href="/contact">服务条款</a></li>
<li ><a href="/contact1">关于我们</a></li>
<li style="background:#333;"><a href="#">加入我们</a></li>
<li><a href="/contact3">联系我们</a></li>
</ul>
<div class="height80"></div>
<div class="inf_about"></div>
<div class="height80"></div>
<div id="fnav">
<div class="fnav"><span><a href='/contact'>服务条款</a></span><span><a href='/contact1'>关于我们</a></span><span><a href='/contact2'>加入我们</a></span><span><a href='/contact3'>联系我们</a></span><div class="clear"></div></div>
</div>
<div id="foot">
<div class="foot">
<div class="clear"></div>
</div>
<div class="banquan">copyright © 2017 链动证书 </div>
</div>
</body>
</template>
