<template name="eduinfo">
<body>
<div class="index-top">
 <div class="logo"><a href="/"> <img style="margin-left:40px" src="image/logo.png"></a></div>
  <div class="btis">信息完善</div>
   <div id="menur">
    <ul>
     
      <li><a href="#"></a>
      
      </li>
      <li><a href="#"></a>
       
      </li>
      
        
      
    </ul>
  </div>
</div>
<div class="height80"></div>
<div class="height80"></div>

<div class="info-yz">
  <div class="yz_class">
    <div class="yz_clasy wzhi1 onlibg"><em>1</em><span>填写信息</span></div>
    
    <div class="yz_clasy wzhi3 onlibgs"><em>2</em></div>
    <div class="clear"></div>
  </div>
  <div class="yz_con">
  <p id="s1">您好！请先完善信息</p>
<div class="login_r_dl"><form class="aaa" >
   
<ul>
   
<li><input required="" name="name" type="text" class="yz_txt" id="name" placeholder="机构名称"></li>
<li><input required="" name="address" type="text" class="yz_txt" id="address" placeholder="机构地址"></li>
<li><input required="" name="call" type="text" class="yz_txt" id="call" placeholder="联系电话"></li><span id='pw'></span>
<div class="clear"></div>


</ul>
<button  type="submit" class="dl_sub" >提交</button>
</form>
</div>
  </div>
  <div class="clear"></div>
</div>
<div class="height80"></div>
</body>

</template>