<template name="eduid">
<body>
<div class="index-top">
  <div class="logo"><a href="/"> <img style="margin-left:40px" src="image/logo.png"></a></div>
   <div id="menul">
    
    <ul>
      <li><a href="/edu">返回</a>
        
      </li>
    </ul>
 
  </div>
  <div id="menur">
    <ul>
     
      <li><a href="#">费用中心</a>
      <div class="down_nav"><span><a href='/edubuy'>购买</a></span><span><a href='#'>充值</a></span><span><a href='/edurest'>余额</a></span></div>
      </li>
      <li><a href="#">支持</a>
        <div class="down_nav"><span><a href='#'>帮助文档</a></span><span><a href='#'>客户端下载</a></span><span><a href='#'>联系客服</a></span><span><a href='#'>帮助与意见</a></span></div>
      </li>
      <li><a href="#">user</a>
        <div class="down_nav"><span><a href='/eduperson'>用户中心</a></span><span><a href='#'>退出</a></span></div>
      </li>
    </ul>
  </div>
</div>
<div class="lnav">
<em>用户中心</em>
<ul>
<li><a href="#" class="lion">用户信息</a></li>
<li><a href="#">缴费记录</a></li>
</ul>
<div id="menum">
    <ul>
      <li><a href="#">费用中心</a>
        <div class="down_navm"><span><a href='#'><i></i>购买</a></span><span><a href="#"><i></i>充值</a></span><span><a href="#"><i></i>余额</a></span></div>
      </li>
    </ul>
  </div>
</div>
<div class="info">
<div class="topPanels"><p>身份验证</p></div>
<div class="height40"></div>

</div>
</body>
</template>
