<template name="regtel">
<body>
<div id="login">
<div class="login">
<div class="login_l bdrg">
<ul>
<li><img src="image/qq.png"></li>
<li><img src="image/wx.png"></li>
<div class="clear"></div>
<p>快速登录</p>
</ul>
</div>
<div class="login_r">
<h2>链动证书</h2>
<div class="login_r_p"><a href="/regmail" class="fl">邮箱注册</a><a class="fr rp_on">手机注册</a>
<div class="clear"></div>
</div>
<div class="login_r_dl"><form action="" method="get">
<ul>
<li><input name="" type="text" class="dl_txt" placeholder="手机号码"></li>
<li><input name="" type="text" class="dl_txts" placeholder="验证码"><input name="" type="button" class="dl_subs" value="获取验证码"></li>
<div class="clear"></div>
<li style="height:20px; line-height:20px;"><input name="" type="checkbox" value="" checked><span>我已阅读并同意服务条款</span></li>
<li><input name="" type="button" class="dl_sub" value="注 册"></li>
</ul>
</form>
</div>
</div>
</div>
</div>
</body>
</template>
