<template name="stu">
<body>
<div class="index-top">
  <div class="logo"><img src="image/logo.png"></div>
  <div id="menul">
    <ul>
      <li><a href="#">用户功能</a>
        <div class="down_nav"><span><a href='#'>证书绑定</a></span></div>
      </li>
    </ul>
  </div>
  <div id="menur">
    <ul>
      <li><a href="#">支持</a>
        <div class="down_nav"><span><a href='#'>帮助文档</a></span><span><a href='#'>客户端下载</a></span><span><a href='#'>联系客服</a></span><span><a href='#'>帮助与意见</a></span></div>
      </li>
      <li><a href="#">user</a>
        <div class="down_nav"><span><a href='#'>用户信息</a></span><span><a href='#'>退出</a></span></div>
      </li>
    </ul>
  </div>
</div>
<div class="lnav">
<em>账户管理</em>
<ul>
<li><a href="#" class="lion">用户信息</a></li>
</ul>
</div>
<div class="info">
<div class="topPanels"><p>用户信息</p></div>
<div class="xs_tit"><span>基本信息</span></div>
<ul class="xs_con">
<li><img src="images/ind7.jpg"></li>
<li></li>
<div class="clear"></div>
</ul>
<ul class="xs_con">
<li>姓名</li>
<li>年龄</li>
</ul>
<div class="xs_tit"><span>证书信息</span></div>
<ul class="xs_coy">
<li><span>证书名称</span></li>
<li><span>证书等级</span></li>
<li><span>签发单位</span></li>
<li><span>tx值</span></li>
</ul>
</div>
</body>
</template>
